<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

        <p>
            <h1>First Name: <%= patient.first_name %></h1>
        </p>
        <p>
            <h1>Last Name: <%= patient.last_name %></h1>
        </p>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>